.form-title {
    color: #007bff;
    font-size: 32px;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="file"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.registration-form .form-section-title {
    color: #343a40;
    font-size: 24px;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 10px;
}

.registration-form label {
    color: #495057;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 5px;
}

.submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}


.reduced-image {
    width: 100px; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Conserve le ratio d'aspect de l'image */
    float: left; /* Aligne l'image à droite */
    margin: 0 0 10px 10px; /* Ajouter de l'espace autour de l'image */
}

.background-image {
    background-image: url('../images/ins.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px; /* Adjust this value to move the container higher or lower */
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
}

.navbar-brand, .nav-link {
    color: #007bff !important; /* Force the color to blue */
}

.display-4 {
    font-weight: 700; /* Bold */
    font-style: italic; /* Italic */
    margin-bottom: 20px;
    color: #007bff; /* Blue */
}

.lead {
    font-size: 1.75rem; /* Larger font size */
    font-weight: 300;
    color: #007bff; /* Blue */
    overflow: hidden;
    white-space: nowrap;
    display: block;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.btn-attractive {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    font-style: italic; /* Italic */
}

.btn-attractive:hover {
    background-color: #0056b3;
    border-color: #004085;
    color: white;
}

.card {
    margin-bottom: 20px; /* Reduced margin to bring cards closer */
}
